{% extends "dashboard/base.html" %}
{% load static %}

{% block main-content %}

<div class="container-default">
    <div class="content-wrapper">
        <div class="search-agents-container">
            <!-- Page Header -->
            <div class="page-header-row" style="display: flex; justify-content: space-between; align-items: center;">
                <h1 class="page-title">{{agency.name}}</h1>
                <a href="{% url "manage_agencies" %}">
                <button class="btn btn-default btn-sm">
                        <i class="fa fa-arrow-left"></i> Back
            </button>
            </a>
            </div>
            
            {% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>{{message}}</strong>
</div>
  {% endfor %}
{% endif %}
            <!-- Tab Navigation -->
            <ul class="nav nav-tabs" id="mainTabs">
                <li class="active"><a href="#detail-senior" data-toggle="tab">Agency Detail</a></li>
                <li><a href="#note-senior" data-toggle="tab">Notes/Attachments</a></li>
            </ul>

            <!-- Tab Content -->
            <div class="tab-content">
                
                    {% include "agency/seniordetail.html" %}
                

                
                    {% include "agency/seniornote.html" %}
                
            </div>
        </div>
    </div>
</div>

{% endblock %}
