<div id="clients-content" class="tab-pane">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Clients for {{agent.first_name}} {{agent.last_name}}</strong>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body table-responsive">

                        <table id="example0" class="table display">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Status</th>
                                    <th>Lead Source</th>
                                    <th>Phone</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for individual in servicing_individuals %}
                                   {% with detail=individual.individual_detail.first %}
                                    <tr>
                                    <td><a href="{% url "individual_tab" individual.id %}">{{ individual.first_name }} {{ individual.middle_name }} {{ individual.last_name }}</a></td>
                                    <td>{{ individual.individual_type|default:"—" }}</td>
                                    <td>{{ detail.status|default:"—" }}</td>
                                    <td>{{ detail.lead_source|default:"—" }}</td>
                                    <td>{{individual.home_phone|default:"—" }}</td> 
                                    </tr>
                                    {% endwith %}
                                {% endfor %}
                            </tbody>
                        </table>


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<style>
   
    
    /* Panel and table styling */
    .panel-body {
        padding: 15px;
    }
    
    .table-responsive {
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    
 
</style>

