<div id="policyeditnote" style="display: none;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <strong>Edit Notes & Attachments</span></strong>
                    <button class="btn btn-default btn-sm back-to-notes">
                        <i class="fa fa-arrow-left"></i> Back to Notes
                    </button>
                </div>
            </div>
            
            <div class="panel-body">
                <form method="post" enctype="multipart/form-data" class="edit-note-form">
                    {% csrf_token %}
                    <input type="hidden" name="note_id" id="editNoteId">
                    <div class="form-group">
                        <label for="edit-subject">Subject <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" name="editnotesubject" id="noteedit-subject" required>
                        <div class="checkbox checkbox-primary">
                            <input id="edit-checkboxpin" type="checkbox" name="editnotepin_note">
                            <label for="edit-checkboxpin">Pin Note</label>
                        </div>
                        <div class="form-group">
                            <label>Notes</label>
                            <textarea class="form-control" name="editnotenotes" id="noteedit-notes" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Attachment</label>
                        <div id="edit_note_attachment_preview" style="margin-bottom: 10px;"></div>

                        <input type="file" name="editnoteattachment" id="edit_note_attachment" class="form-control">
                    </div>

                    <div class="text-right">
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-save"></i> Save Changes
                        </button>
                        <button type="button" class="btn btn-default cancel-edit">
                            Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>