<div class="sidebar clearfix">

    <ul class="sidebar-panel nav">
      <li class="sidetitle">MAIN</li>
      <li><a href="{% url "dashboard" %}"><span class="icon color5"><i class="fa fa-home"></i></span>Dashboard</a></li>
      <li><a href="#"><span class="icon color9"><i class="fa fa-th"></i></span>Sales<span class="caret"></span></a>
        <ul>
          <li><a href="basic-table.html">Basic Tables</a></li>
          <li><a href="data-table.html">Data Tables</a></li>
        </ul>
      </li>
      <li><a href="#"><span class="icon color6"><i class="fa fa-envelope-o"></i></span>Individuals</a></li>
      <li><a href="#"><span class="icon color8"><i class="fa fa-bar-chart"></i></span>Policies</a></li>
      <li><a href="#"><span class="icon color11"><i class="fa fa-diamond"></i></span>Agents</a></li>
      <li><a href="{% url "carrier_list" %}"><span class="icon color8"><i class="fa fa-calendar-o"></i></span>Carriers</a></li>
      <li><a href="#"><span class="icon color12"><i class="fa fa-font"></i></span>Commission</a></li>
      
    </ul>
    
    <ul class="sidebar-panel nav">
      <li class="sidetitle">Use Your Data</li>
      <li><a href="#"><span class="icon color15"><i class="fa fa-columns"></i></span>Reports</a></li>
      <li><a href="#"><span class="icon color7"><i class="fa fa-map-marker"></i></span>Email Marketing</a></li>
      <li><a href="#"><span class="icon color10"><i class="fa fa-lightbulb-o"></i></span>Automated Workflows</a></li>
    </ul>
    <ul class="sidebar-panel nav">
      <li class="sidetitle">Recents Records</li>
      <li><a href="#"><span class="icon color15"><i class="fa fa-columns"></i></span>XYZ</a></li>
      <li><a href="#"><span class="icon color7"><i class="fa fa-map-marker"></i></span>ABC</a></li>
    </ul>
    
    
    </div>
    
    </div>