<div id="individuals" class="tab-pane fade">
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-6">
                        <h3 class="panel-title">Individuals of AARP</h3>
                    </div>
                    <div class="col-sm-6 text-right">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addIndividualModal">
                            <i class="fa fa-plus"></i> Add
                        </button>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <!-- Add Individual Modal -->
                <div class="modal fade" id="addIndividualModal" tabindex="-1" role="dialog" aria-labelledby="addIndividualModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="addIndividualModalLabel">Add an Individual as a Carrier Contact</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label>Select Record Type</label>
                                    <select class="form-control">
                                        <option>Existing Individual</option>
                                        <option>New Individual</option>
                                    </select>
                                </div>
                                <p class="text-muted small">The individual will be added as a carrier contact. <a href="#">Learn more</a>.</p>
                                
                                <div class="form-group">
                                    <label>Name <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" placeholder="Type to search">
                                </div>
                                
                                <p class="text-muted small">Fields marked with an * are required.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary">Save</button>
                                <button type="button" class="btn btn-default">Save & Add Another</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row table-controls">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search: Type to filter (Individual Name, Type, Status)">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 text-right">
                        <div class="form-inline">
                            <div class="form-group">
                                <label>Show 
                                    <select class="form-control input-sm">
                                        <option>25</option>
                                        <option>50</option>
                                        <option>100</option>
                                    </select> 
                                    entries
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="sortable" data-key="name">NAME <i class="fa fa-sort"></i></th>
                                <th class="sortable" data-key="type">TYPE <i class="fa fa-sort"></i></th>
                                <th class="sortable" data-key="status">STATUS <i class="fa fa-sort"></i></th>
                                <th class="sortable" data-key="lead_source">LEAD SOURCE <i class="fa fa-sort"></i></th>
                                <th class="sortable" data-key="dob">DATE OF BIRTH <i class="fa fa-sort"></i></th>
                                <th class="sortable" data-key="email">EMAIL <i class="fa fa-sort"></i></th>
                                <th class="sortable" data-key="phone">BUSINESS PHONE <i class="fa fa-sort"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="7" class="text-center">No data available in table</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <p class="text-muted">Showing 0 to 0 of 0 entries</p>
                    </div>
                    <div class="col-xs-12 col-sm-6 text-right">
                        <ul class="pagination pagination-sm">
                            <li class="enable"><a href="#">Previous</a></li>
                            <li class="enable"><a href="#">Next</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>