<div id="individuals" class="tab-pane fade">
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-6">
                        <h3 class="panel-title">Individuals of AARP</h3>
                    </div>
                    
                </div>
            </div>
            <div class="panel-body">
                

                <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body table-responsive">

                        <table id="example1" class="table display">
                            <thead>
                                <tr>
                                    <th>NAME</th>
                                    <th>TYPE</th>
                                    <th>STATUS</th>
                                    <th>LEAD SOURCE</th>
                                    <th>DATE OF BIRTH</th>
                                    <th>EMAIL</th>
                                    <th>BUSINESS PHONE</th>
                                </tr>
                            </thead>


                            <tbody>
                               {% for individual in individuals %}
                                    {% with details=individual.individual_detail.first %}
                                    <tr>
                                        <td><a href="{% url "individual_tab" individual.id %}">
                                            {{ individual.first_name }} {{ individual.middle_name }} {{ individual.last_name }}</a></td>
                                        <td>{{ individual.individual_type }}</td>
                                        <td>{{ details.status|default:"—" }}</td>
                                        <td>{{ details.lead_source|default:"—" }}</td>
                                        <td>{{ details.dob|date:"Y-m-d"|default:"—" }}</td>
                                        <td>{{ individual.email|default:"—" }}</td>
                                        <td>{{ individual.business_phone|default:"—" }}</td>
                                    </tr>
                                    {% endwith %}
                                {% endfor %}
                            </tbody>
                        </table>


                    </div>

                </div>
            </div>
        </div>

            </div>
        </div>
    </div>
</div>