<style>
    tr.active-product {
    background-color: #e6f9ff;
}

</style>

<div id="products" class="tab-pane fade ">
    <div class="container-fluid">
        <div class="panel-body">
            <!-- Product Form (Initially Hidden) -->
           <div id="productFormContainer" style="display: none; margin-bottom: 20px;">
                <div class="panel panel-default">
                <div class="panel-heading">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h3 class="panel-title">Add Product for {{carrier.name}}</h3>
                                </div>
                        
                            </div>
                            
                        </div>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="well">
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <div class="form-group">
                                    <label>Coverage Type<span class="text-danger">*</span></label>
                                    <select class="form-control" name="coverage_type">
                                        <option value="">Select coverage type</option>
                                        <option value="Dental">Dental</option>
                                        <option value="Med Supp">Med Supp</option>
                                        <option value="PDP">PDP</option>
                                        <option value="MAPD">MAPD</option>
                                        <option value="MA">MA</option>
                                        <option value="Medical">Medical</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="form-group">
                                    <label>Product Name<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="product_name"
                                        placeholder="Enter Product Name">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="form-group">
                                    <label>Product Effective Date</label>
                                    <input type="date" class="form-control" name="product_effective_date">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="form-group">
                                    <label>Product Term Date</label>
                                    <input type="date" class="form-control" name="product_term_date">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Product Description</label>
                            <textarea class="form-control" rows="3" name="description"
                                placeholder="Enter description..."></textarea>
                        </div>

                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <div class="form-group">
                                    <label>Benefit Summary</label>
                                    <input type="file" class="form-control" name="benefit_summary" id="benefit_summary">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="form-group">
                                    <label>Plan Grid</label>
                                    <input type="file" class="form-control" name="plan_grid" id="plan_grid">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="form-group">
                                    <label>Brochure</label>
                                    <input type="file" class="form-control" name="brochure" id="brochure">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>States</label>
                            <div
                                style="border: 1px solid #ced4da; border-radius: 4px; max-height: 150px; overflow-y: auto; padding: 5px;">
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox_alabama" type="checkbox" name="states[]" value="Alabama">
                                    <label for="checkbox_alabama">Alabama</label>
                                </div>
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox_alaska" type="checkbox" name="states[]" value="Alaska">
                                    <label for="checkbox_alaska">Alaska</label>
                                </div>
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox_arizona" type="checkbox" name="states[]" value="Arizona">
                                    <label for="checkbox_arizona">Arizona</label>
                                </div>
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox_arkansas" type="checkbox" name="states[]" value="Arkansas">
                                    <label for="checkbox_arkansas">Arkansas</label>
                                </div>
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox_california" type="checkbox" name="states[]" value="California">
                                    <label for="checkbox_california">California</label>
                                </div>
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox_colorado" type="checkbox" name="states[]" value="Colorado">
                                    <label for="checkbox_colorado">Colorado</label>
                                </div>
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox_connecticut" type="checkbox" name="states[]" value="Connecticut">
                                    <label for="checkbox_connecticut">Connecticut</label>
                                </div>
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox_delaware" type="checkbox" name="states[]" value="Delaware">
                                    <label for="checkbox_delaware">Delaware</label>
                                </div>
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox_florida" type="checkbox" name="states[]" value="Florida">
                                    <label for="checkbox_florida">Florida</label>
                                </div>
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox_georgia" type="checkbox" name="states[]" value="Georgia">
                                    <label for="checkbox_georgia">Georgia</label>
                                </div>
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox_hawaii" type="checkbox" name="states[]" value="Hawaii">
                                    <label for="checkbox_hawaii">Hawaii</label>
                                </div>
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox_idaho" type="checkbox" name="states[]" value="Idaho">
                                    <label for="checkbox_idaho">Idaho</label>
                                </div>
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox_illinois" type="checkbox" name="states[]" value="Illinois">
                                    <label for="checkbox_illinois">Illinois</label>
                                </div>
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox_indiana" type="checkbox" name="states[]" value="Indiana">
                                    <label for="checkbox_indiana">Indiana</label>
                                </div>
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox_iowa" type="checkbox" name="states[]" value="Iowa">
                                    <label for="checkbox_iowa">Iowa</label>
                                </div>
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox_kansas" type="checkbox" name="states[]" value="Kansas">
                                    <label for="checkbox_kansas">Kansas</label>
                                </div>
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox_kentucky" type="checkbox" name="states[]" value="Kentucky">
                                    <label for="checkbox_kentucky">Kentucky</label>
                                </div>
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox_louisiana" type="checkbox" name="states[]" value="Louisiana">
                                    <label for="checkbox_louisiana">Louisiana</label>
                                </div>
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox_maine" type="checkbox" name="states[]" value="Maine">
                                    <label for="checkbox_maine">Maine</label>
                                </div>
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox_maryland" type="checkbox" name="states[]" value="Maryland">
                                    <label for="checkbox_maryland">Maryland</label>
                                </div>
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox_massachusetts" type="checkbox" name="states[]" value="Massachusetts">
                                    <label for="checkbox_massachusetts">Massachusetts</label>
                                </div>
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox_michigan" type="checkbox" name="states[]" value="Michigan">
                                    <label for="checkbox_michigan">Michigan</label>
                                </div>
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox_minnesota" type="checkbox" name="states[]" value="Minnesota">
                                    <label for="checkbox_minnesota">Minnesota</label>
                                </div>
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox_mississippi" type="checkbox" name="states[]" value="Mississippi">
                                    <label for="checkbox_mississippi">Mississippi</label>
                                </div>
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox_missouri" type="checkbox" name="states[]" value="Missouri">
                                    <label for="checkbox_missouri">Missouri</label>
                                </div>
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox_montana" type="checkbox" name="states[]" value="Montana">
                                    <label for="checkbox_montana">Montana</label>
                                </div>
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox_nebraska" type="checkbox" name="states[]" value="Nebraska">
                                    <label for="checkbox_nebraska">Nebraska</label>
                                </div>
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox_nevada" type="checkbox" name="states[]" value="Nevada">
                                    <label for="checkbox_nevada">Nevada</label>
                                </div>
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox_new_hampshire" type="checkbox" name="states[]" value="New Hampshire">
                                    <label for="checkbox_new_hampshire">New Hampshire</label>
                                </div>
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox_new_jersey" type="checkbox" name="states[]" value="New Jersey">
                                    <label for="checkbox_new_jersey">New Jersey</label>
                                </div>
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox_new_mexico" type="checkbox" name="states[]" value="New Mexico">
                                    <label for="checkbox_new_mexico">New Mexico</label>
                                </div>
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox_new_york" type="checkbox" name="states[]" value="New York">
                                    <label for="checkbox_new_york">New York</label>
                                </div>
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox_north_carolina" type="checkbox" name="states[]" value="North Carolina">
                                    <label for="checkbox_north_carolina">North Carolina</label>
                                </div>
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox_north_dakota" type="checkbox" name="states[]" value="North Dakota">
                                    <label for="checkbox_north_dakota">North Dakota</label>
                                </div>
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox_ohio" type="checkbox" name="states[]" value="Ohio">
                                    <label for="checkbox_ohio">Ohio</label>
                                </div>
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox_oklahoma" type="checkbox" name="states[]" value="Oklahoma">
                                    <label for="checkbox_oklahoma">Oklahoma</label>
                                </div>
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox_oregon" type="checkbox" name="states[]" value="Oregon">
                                    <label for="checkbox_oregon">Oregon</label>
                                </div>
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox_pennsylvania" type="checkbox" name="states[]" value="Pennsylvania">
                                    <label for="checkbox_pennsylvania">Pennsylvania</label>
                                </div>
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox_rhode_island" type="checkbox" name="states[]" value="Rhode Island">
                                    <label for="checkbox_rhode_island">Rhode Island</label>
                                </div>
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox_south_carolina" type="checkbox" name="states[]" value="South Carolina">
                                    <label for="checkbox_south_carolina">South Carolina</label>
                                </div>
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox_south_dakota" type="checkbox" name="states[]" value="South Dakota">
                                    <label for="checkbox_south_dakota">South Dakota</label>
                                </div>
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox_tennessee" type="checkbox" name="states[]" value="Tennessee">
                                    <label for="checkbox_tennessee">Tennessee</label>
                                </div>
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox_texas" type="checkbox" name="states[]" value="Texas">
                                    <label for="checkbox_texas">Texas</label>
                                </div>
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox_utah" type="checkbox" name="states[]" value="Utah">
                                    <label for="checkbox_utah">Utah</label>
                                </div>
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox_vermont" type="checkbox" name="states[]" value="Vermont">
                                    <label for="checkbox_vermont">Vermont</label>
                                </div>
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox_virginia" type="checkbox" name="states[]" value="Virginia">
                                    <label for="checkbox_virginia">Virginia</label>
                                </div>
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox_washington" type="checkbox" name="states[]" value="Washington">
                                    <label for="checkbox_washington">Washington</label>
                                </div>
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox_west_virginia" type="checkbox" name="states[]" value="West Virginia">
                                    <label for="checkbox_west_virginia">West Virginia</label>
                                </div>
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox_wisconsin" type="checkbox" name="states[]" value="Wisconsin">
                                    <label for="checkbox_wisconsin">Wisconsin</label>
                                </div>
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox_wyoming" type="checkbox" name="states[]" value="Wyoming">
                                    <label for="checkbox_wyoming">Wyoming</label>
                                </div>

                            </div>
                        </div>


                        <div class="text-right">
                            <button type="submit" class="btn btn-success">Save</button>
                            <button id="cancelNewProduct" class="btn btn-default">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
            </div>
            <!-- Product Table -->
            <div class="row table-controls" id="productsTableContainer">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h3 class="panel-title">Products for {{carrier.name}}</h3>
                                </div>
                                <div class="col-sm-6 text-right">
                                    <div class="form-inline">
                                        <div class="form-group">
                                            <select id="productFilter" class="form-control">
                                                <option value="all">All Products ({{ all_count }})</option>
                                                <option value="active">Active Products ({{ active_count }})</option>
                                            </select>
                                        </div>
                                        <button id="createNewProduct" class="btn btn-primary">
                                            <i class="fa fa-plus"></i> Create New
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body table-responsive">
                            <table id="example8" class="table table-bordered table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>PRODUCT</th>
                                        <th>COVERAGE TYPE</th>
                                        <th>EFFECTIVE DATE</th>
                                        <th>TERM DATE</th>
                                        <th>LAST MODIFIED BY</th>
                                        <th>BENEFIT SUMMARY</th>
                                        <th>PLAN GRID</th>
                                        <th>BROUCHER</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for product in products %}
                                    <tr class="{{ product.row_class }}">
                                        <td>
                                            <a href="#" class="edit-product" 
                                               data-id="{{ product.id }}"
                                               data-name="{{ product.product_name|escapejs }}"
                                               data-coverage="{{ product.coverage_type }}"
                                               data-effective="{{ product.effective_date|date:'Y-m-d'|default:'' }}"
                                               data-term="{{ product.term_date|date:'Y-m-d'|default:'' }}"
                                               data-description="{{ product.description|escapejs|default:'' }}"
                                               data-states="{{ product.states|join:','|escapejs }}"
                                               {% if product.benefit_summary %}data-benefit-summary="{{ product.benefit_summary.url }}"{% endif %}
                                               {% if product.plan_grid %}data-plan-grid="{{ product.plan_grid.url }}"{% endif %}
                                               {% if product.brochure %}data-brochure="{{ product.brochure.url }}"{% endif %}>
                                                {{ product.product_name }}
                                            </a>
                                        </td>
                                        <td>{{ product.coverage_type }}</td>
                                        <td>{{ product.effective_date|default:" " }}</td>
                                        <td>{{ product.term_date|default:" " }}</td>
                                        <td>XYZ</td>
                                        <td>
                                            {% if product.benefit_summary %}
                                                <a href="{{ product.benefit_summary.url }}" download>
                                                    <img src="{{ product.benefit_summary.url }}" alt="Attachment"
                                                        style="height: 50px; width: auto; border: 1px solid #ccc; padding: 2px; border-radius: 4px;">
                                                </a>
                                            {% else %}
                                                No File
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if product.plan_grid %}
                                                <a href="{{ product.plan_grid.url }}" download>
                                                    <img src="{{ product.plan_grid.url }}" alt="Attachment"
                                                        style="height: 50px; width: auto; border: 1px solid #ccc; padding: 2px; border-radius: 4px;">
                                                </a>
                                            {% else %}
                                                No File
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if product.brochure %}
                                                <a href="{{ product.brochure.url }}" download>
                                                    <img src="{{ product.brochure.url }}" alt="Attachment"
                                                        style="height: 50px; width: auto; border: 1px solid #ccc; padding: 2px; border-radius: 4px;">
                                                </a>
                                            {% else %}
                                                No File
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "carrier/editproduct.html" %}

<!-- Existing filter script remains unchanged -->
<script>
    let dataTable;
    document.addEventListener('DOMContentLoaded', function () {
        dataTable = $('#example8').DataTable({
            pageLength: 10
        });
        document.getElementById('productFilter').addEventListener('change', function () {
            const selected = this.value;

            $.fn.dataTable.ext.search = [];

            if (selected === 'active') {
                $.fn.dataTable.ext.search.push(function (settings, data, dataIndex) {
                    const row = dataTable.row(dataIndex).node();
                    return row.classList.contains('active-product');
                });
            }

            dataTable.draw();
        });
        document.getElementById('productFilter').dispatchEvent(new Event('change'));
    });
</script>

<script>

    document.addEventListener('DOMContentLoaded', function() {
        const editLinks = document.querySelectorAll('.edit-product');
        editLinks.forEach(link => {
            link.addEventListener('click', function(e) {
                e.preventDefault();
                
                // Hide the products table and show the edit form
                document.getElementById('productsTableContainer').style.display = 'none';
                document.getElementById('editproduct').style.display = 'block';

                // Populate the form with product data
                const productId = this.dataset.id;
                document.querySelector('#editproduct input[name="product_id"]').value = productId;
                document.querySelector('#editproduct input[name="edit_product_name"]').value = this.dataset.name;
                document.querySelector('#editproduct select[name="edit_coverage_type"]').value = this.dataset.coverage;
                document.querySelector('#editproduct input[name="edit_product_effective_date"]').value = this.dataset.effective;
                document.querySelector('#editproduct input[name="edit_product_term_date"]').value = this.dataset.term;
                document.querySelector('#editproduct textarea[name="edit_description"]').value = this.dataset.description;


                // Check the appropriate state checkboxes
                const states = this.dataset.states.split(',');
                document.querySelectorAll('#editproduct input[type="checkbox"]').forEach(checkbox => {
                    checkbox.checked = states.includes(checkbox.value);
                });
                // Show existing file links if available
                const benefitSummary = this.dataset.benefitSummary || '';
                const planGrid = this.dataset.planGrid || '';
                const brochure = this.dataset.brochure || '';

                document.getElementById('existing_benefit_summary').innerHTML = benefitSummary
                    ? `<a href="${benefitSummary}" target="_blank">View Current File</a>` : '';

                document.getElementById('existing_plan_grid').innerHTML = planGrid
                    ? `<a href="${planGrid}" target="_blank">View Current File</a>` : '';

                document.getElementById('existing_brochure').innerHTML = brochure
                    ? `<a href="${brochure}" target="_blank">View Current File</a>` : '';



                // Scroll to the edit form
                document.getElementById('editproduct').scrollIntoView({ behavior: 'smooth' });
            });
        });

        // Handle cancel button in edit form
        const cancelEditBtn = document.querySelector('#editproduct #cancelNewProduct');
        if (cancelEditBtn) {
            cancelEditBtn.addEventListener('click', function(e) {
                e.preventDefault();
                document.getElementById('editproduct').style.display = 'none';
                document.getElementById('productsTableContainer').style.display = 'block';
            });
        }

        // Handle create new product button
        document.getElementById('createNewProduct').addEventListener('click', function() {
            document.getElementById('productsTableContainer').style.display = 'none';
            document.getElementById('productFormContainer').style.display = 'block';
            document.getElementById('productFormContainer').scrollIntoView({ behavior: 'smooth' });
        });

        // Handle back to products button in create form
        document.getElementById('backToProducts').addEventListener('click', function(e) {
            e.preventDefault();
            document.getElementById('productFormContainer').style.display = 'none';
            document.getElementById('productsTableContainer').style.display = 'block';
        });
        

        // Handle tab switch to reset view
        const productTab = document.querySelector('a[href="#products"]');
        if (productTab) {
            productTab.addEventListener('click', function() {
                document.getElementById('productsTableContainer').style.display = 'block';
                document.getElementById('productFormContainer').style.display = 'none';
                document.getElementById('editproduct').style.display = 'none';
            });
        }
        
    });

</script>
<script>
    // Handle all tab switches to reset the products view
document.querySelectorAll('a[data-toggle="tab"]').forEach(tab => {
    tab.addEventListener('click', function() {
        // Only reset if we're switching away from products tab
        if (this.getAttribute('href') !== '#products') {
            document.getElementById('productsTableContainer').style.display = 'block';
            document.getElementById('productFormContainer').style.display = 'none';
            document.getElementById('editproduct').style.display = 'none';
        }
    });
});

// Keep the existing products tab click handler
const productTab = document.querySelector('a[href="#products"]');
if (productTab) {
    productTab.addEventListener('click', function() {
        document.getElementById('productsTableContainer').style.display = 'block';
        document.getElementById('productFormContainer').style.display = 'none';
        document.getElementById('editproduct').style.display = 'none';
    });
}
</script>



